@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="container">
        <h1>Welcome to my Hobby Page!</h1>
        <main>
            <section>
                <img src="piano1.jpg" alt="Piano 1">
                <p>
                    My name is Ainsley Rossiter, and I loved to play the piano. I've played the piano since I was
                    six. I have experience playing many classical pieces, popular pieces, hymns, and so on. Something that
                    I love about the piano is that you're able to put emotion into the pieces you play. It takes a lot of hard work and
                    practice, but as you put in the effort, you can create beautiful music.
                </p>
            </section>

            <section>
                <img src="piano2.webp" alt="Piano 2">
                <p>
                    I am offering 1-hour piano lessons to help others come to love the piano and music as I have. Through
                    my process, you will be able to create beautiful music and improve your musical capabilities. I know that learning the piano
                    will bring much joy into your life, as it has mine! Please see the calculator above for price estimates.
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </section>
        </main>
    </div>
</body>

